<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/boardAdd.css" rel="stylesheet">
  </head>
</head>

<body>
  <div class="header">
    <div class="header_wrapper">
      <div class="header_start">
        <a href="#"><img src="/img/logo.png" alt="로고"></a>
      </div>
      <div class="header_center">
        <p class="title_name">Community</p>
      </div>
      <ul class="nav">
        <a class="reco" href="#">여행지 검색</a>
        <li class="dropdown">
          <a class="mypage" href="#">마이페이지</a>
          <ul class="dropdown_content">
            <li><a class="myplan" href="#">나의 여행일정</a></li>
            <li><a class="info_edit" href="#">나의 정보수정</a></li>
          </ul>
        </li>
        <a class="logout" href="#">로그아웃</a>
      </ul>
    </div>
  </div>

  <div class="tab_content">
    <div class="wrapper">
      <div class="conbox">
        <div class="board_wrapper">
          <form id="frm" action="/board/add" method="post">

            <div>
              <select class="form-select" aria-label="Default select example" name="codeId">
                <option selected>게시판선택</option>
                <option value="F0101">자유게시판</option>
                <option value="F0103">공유게시판</option>
              </select>
            </div>
            <div class="table-wrapper">
              <table class="table table-secondary">
                <thead>
                  <tr>
                    <td><input id="title" name="title" type="text" placeholder="제목을 입력해 주세요" required></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input id="managementId" name="managementId" type="text"  th:value="${session.loginMember.managementId}" style="display:none"></td>
                    <input type="hidden" name="nickname" th:value="${session.loginMember.nickname}">
                  </tr>
                  <tr>
                    <td id="nickname" type="text" th:text="${session.loginMember.nickname}"></td>
                  </tr>
                  <tr>
                    <td><button class="btn">일정가져오기</button></td>
                  </tr>
                  <tr>
                    <td><textarea id="bContent" name="bContent" cols="60" rows="20" placeholder="내용을 입력하세요"></textarea></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="btns">
              <button class="btn" type="reset" value="초기화">초기화</button>
              <button class="btn" type="button" value="목록" id="listBtn">목록</button>
              <button class="btn" type="submit" value="저장" id="saveBtn">저장</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      const listButton = document.querySelectorAll('.btn')[2];
      listButton.addEventListener('click', function() {
        location.href = '/board';
      });
    });

    document.getElementById('frm').onsubmit = async (e) => {
      e.preventDefault(); // 폼 기본 제출 막기
      const formData = new FormData(e.target); // 폼 데이터 수집
      try {
        const response = await fetch('/board/add', {
          method: 'POST',
          body: formData, // 폼 데이터 전송
          
        });

        if (response.ok) {
          console.log('성공적으로 저장되었습니다.');
          const redirectUrl = await response.text();
          window.location.href = redirectUrl; // 응답받은 URL로 리디렉션
        } else {
          console.error('서버 오류');
        }
      } catch (error) {
        console.error('전송 중 에러 발생:', error);
      }
    };
  </script>

</body>
</html>