.tab_content {
  margin: 115px 20px 50px 20px;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80%;
  border-radius: 10px;
}

.conbox {
  margin-top: 50px;
  /* height : 680px 게시판 10개 맞춤 */
  /* height: 680px; */
  width: 100%;
  background-color: #bfc4dd;
  display: flex;
  flex-direction: column;
  /* font-size: 12px; */
  padding: 20px;
  position: relative;
  border-radius: 10px;
  gap: 10px;
}


/* ------------------탭박스 끝---------------------- */

.board_wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;

  padding: 30px;
  width: 100%;
  height: 100%;
}


/* ----------------- */

/* --- 검색창 끝 --- */

.board_footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* -----테이블 시작-------- */



/* --- 테이블 종료 --- */

/* 댓글 */
.text_comment {
  white-space: pre-wrap;
}
.textbox {
  white-space: pre-wrap;
}