.section {
  min-width: 850px;
}

.thumbs_wrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding: 175px 50px 0 50px;
}

.thumbs_item {
  /* 한 행에 갯수 25%면 4개 33%면 3개 20%면 5개 */
  width: 25%;
  margin: 0 0 15px 0;
  padding : 50px 60px;

}

.thumbs_img {
  /* 이미지 썸네일크기에 맞게 채우기 */
  /* position: absolute; */
  max-width : 100%; 
  margin: 0 0 10px 0;
  border-radius: 3%;
  filter: drop-shadow(2px 2px 2px #2b3b49)
}
.thumbs_img img:hover {
  transform: scale(1.2, 1.2); transition-duration: 0.5s;
}
.thumbs_img img {
  transition-duration: 0.3s;
}

.thumbs_text {
  text-align: left;
  font-size: 2em;
  font-weight: Regular;
  font-family: Jua;
  padding: 10px 0 20px 20px;
}

@media (max-width: 1199px) {
  .thumbs_item {
    width: 33.3333%; /* 한 줄에 3개 */
  }
}

@media (max-width: 899px) {
  .thumbs_item {
    width: 50%; /* 한 줄에 2개 */
    min-width: 350px;
    overflow-x: auto; /* 스크롤바 생성 */
  }
  .header {
    display: none;
  }
  .thumbs_wrapper {
    padding: 30px 50px 0 50px;
  }
}