<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link href="./css/reset.css" rel="stylesheet">
  <link href="./css/header.css" rel="stylesheet">
  <link href="./css/footer.css" rel="stylesheet">
  <link href="./css/login.css" rel="stylesheet">
</head>

<body>

  <div class="header">
    <div class="header_wrapper">
      <div class="header_start">
        <a href="http://localhost:9080/travelSearch"><img src="img/logo.png" alt="로고"></a>
      </div>

        <p class="title_name">로그인</p>

    </div>
  </div>

  <section>
    <div class="login_wrap">
      <form action="/login" method="post">
        <input type="text" placeholder="아이디" class="input" name="memberId"> <!-- name 속성 추가 -->
        <input type="password" placeholder="비밀번호" class="input" name="pw"> <!-- name 속성 추가 -->
        <input type="submit" id="loginbtn" value="로그인"><br>
      </form>
      <a href="#">ID 찾기</a>
      <span>|</span>
      <a href="#">PW 찾기</a>
      <a href="members/join">회원가입</a>
    </div>
  </section>

  <!-- 푸터 -->
  <footer>
    <div class="footer_main">
      <p>트래블메이커</p>
      <p>주소: 울산광역시 남구 삼산로35번길 19 (신정동) </p>
      <p>Tel : 052-123-5678</p>
    </div>
    <!-- 푸터_카피라이트 -->
    <div class="footer_copyright">
      <p>Copyright © TravelMaker. All Rights Reserved.</p>
    </div>
  </footer>

</body>

</html>